/* work sans */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@600;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
margin: 0px;
padding: 0px;
}


/* Header nav bar */

.frame{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.frame-img{
    width: 90px;
    height: 44px;
}

.gamer-txt{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}
.pink{
    color: #FF42A5;
    
}


nav{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    margin-left: 240px;
    margin-right: 240px;
}

.menu-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    
}

.menu{
    color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;
justify-items: center;
}
.menu-icon{
    cursor: pointer;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
}
.menu-btn{
    width: 262px;
height: 56px;
color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;
border-radius: 8px;
background-color: rgba(11, 2, 35, 0.10);
border: none;
padding-right: 5px;
}

header{
height: 130px;
}


/* main section */
main{
    margin-left: 240px;
    margin-right: 240px;
}
.second-icon{
    display: flex;
    padding-right: 5px;
    margin-bottom: 20px;
}
.second-heading{
    margin-top: 148px;
    color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 600;
text-transform: uppercase;

}
.goat{
    text-align: center;
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 25px;
}
.second-icon-des{
    color: #534C64;
text-align: center;
font-size: 20px;
font-weight: 500;
text-transform: lowercase;
padding-left: 10px;
}

.second-btn{
    margin-top: 20px;
    border: 48px;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
margin-right: 20px;
cursor: pointer;
}

.second-btn-txt{
    color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
}
#one{
    background-color: #FF42A5;
}
#two{
    background-color: #4EC5F7;
}

.second{
    display: flex;
    justify-content: space-between;
}

/* ONLINE GAMES SECTION */
.online-game{
    margin-top: 200px;
    text-align: center;
}
.on-game{
    color: #0B0223;
font-size: 48px;
font-weight: 700;
}

.para-font{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}


.main-img-sec{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
  
}
.online-image {
    display: block;
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */

  }
  
  .online-image:hover {
    filter: brightness(0.5); /* Apply a darker effect on hover */
    cursor: pointer;
    border: 10px ridge blueviolet;
    border-radius: 30px;
    
  }


/* play instantly section */

.play-text-head{
    color: #0B0223;
font-size: 48px;
font-weight: 700;
line-height: 60px;
}
.play-text-des{
    color: #534C64;
text-align: right;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.playing{
    margin-left: 50px;
    text-align: right;
}
.play-instantly{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;

}

.cat{
    position: relative;
    top: -215px;
    left: -145px;
}

/* GAMES BUTTON SECTION */

.game-section1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-around;
    margin-left: 30px;

}
.game-section2{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 120px;
    justify-content: space-around;
    margin-bottom: 140px;

}

.game-btn:hover{
    border: 2px solid #FF42A5;
    border-radius: 40px;
    cursor: pointer;
    color: #FF42A5;
}


li {
     list-style: none;   
}

.game-image{
    border-radius: 50%;
    border: none;
    background-color: none;
    padding-left: 5px;
}

.game-btn{
    display: flex;
    align-items: center;
    border-radius: 40px;
    border: none;
    background-color: white;
}

.game-text{
    color: #0B0223;
font-size: 15px;
font-weight: 800;
padding-left: 10px;
}

/* footers section */

footer{
    height: 636px;
    background-color: #0B0223;
    
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 60px;
}

.white{
    color: white;
}
.footer-list{
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    padding-bottom: 60px;
}
.footer-list > li{
    color: white;
    
}

.social-list{
    display: flex;
    width: 490px;
    justify-content: space-between;
    margin-left: 690px;
    cursor: pointer;
}
.terms{
    display: flex;
    width: 710px;
    justify-content: space-between;
    margin-left: 590px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.term-sec{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
}